.loader{
    width: 160px;
    height: 160px;
    margin: 0 auto;
    position: relative;
}
.loader .box{
    background-color: rgba(0,0,0,0.04);
    border: 4px solid transparent;
    border-left: 4px solid #26ff00;
    border-top: 4px solid #26ff00;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0,0,0,0.03);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: animate1 3s linear infinite;
}
.loader .box:nth-of-type(2){
    background-color: rgba(0, 0, 0, 0.025);
    border: 4px solid transparent;
    border-right: 4px solid #03a9f4;
    border-bottom: 4px solid #03a9f4;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    animation: animate1 3s reverse linear infinite;
}
.loader .box .circle{
    transform-origin: left;
    position: absolute;
    top: calc(50% - 1px);
    left: 50%;
    width: 50%;
    height: 2px;
}
.loader .box .circle,
.loader .box:nth-of-type(2) .circle{
    transform: rotate(-45deg);
}
.loader .box .circle:before{
    content: '';
    background: #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: -4px;
    right: -6px;
}
.loader .box .circle:before{
    background: #26ff00;
    box-shadow: 0 0 20px #26ff00, 0 0 40px #26ff00, 0 0 60px #26ff00, 0 0 80px #26ff00,
                0 0 100px #26ff00, 0 0 0 5px rgba(255, 255, 0, .1);
}
.loader .box:nth-of-type(2) .circle:before{
    background: #2db9ff;
    box-shadow: 0 0 20px #2db9ff, 0 0 40px #2db9ff, 0 0 60px #2db9ff, 0 0 80px #2db9ff,
                0 0 100px #2db9ff, 0 0 0 5px rgba(3, 169, 244, .1);
}
@keyframes animate1{
    0%{ transform: rotate(0deg); }
    100%{ transform: rotate(360deg); }
}